.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
background-color: rgba(0, 0, 0, 0.25); /*Sets the text hover color on navbar*/
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-brand .navbar-nav > .active > a:focus {
color: rgb(249, 249, 184); /*BACKGROUND color for active*/
background-color: rgba(0, 0, 0, 0.25); 
}
.navbar-inverse .navbar-nav > li >a {
    color:rgb(249, 249, 184); 
    font-size: 15px;
}

.navbar-inverse  {
    background-color:rgba(128, 0, 0, 1.00);
    border-color:rgba(128, 0, 0, 1.00); 
    border-bottom: 2px rgba(128, 0, 0, 1.00); 
    color:rgb(249, 249, 184); 
}
.navbar-brand {
    font-size:4px;
}
.col-sm-6{
    color:rgba(128, 0, 0, 1.00); 
    font-size: 28px;
    margin:0 0 0 -10px;
    text-indent: none;
}

.adress {
    font-family: Comfortaa;
    font-size: small;
    text-align:right;
    margin:10px 25px 0 0;
    font-size:12px;
    color:rgba(128, 0, 0, 1.00);
}
#header {
    margin:1px;
    padding: auto;
 }
#nav-bar{
    font-family: Comfortaa;
    top:0;
    width: 100%;
    height:20px;
    left:0;
    z-index:999;
    border-radius: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    background-color: rgb(249, 249, 184); 
    color: #000;

}
h1{
    font-family: Comfortaa;
     color:#000;
     font-size:25px;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 5px;
     color:rgba(128, 0, 0, 1.00);
     text-shadow: 2px;
}

h2 {
    font-family: Comfortaa;
    text-align: center;
    font-size:22px;
}

#MG{
    font-family: Comfortaa;
    margin-top:3px;
    line-height: 33px 
}
/* Program, School */
.table{
    background-color: rgb(240, 226, 134); 
    text-align:left;
}
th{
    text-align:left;
    border-color:rgba(128, 0, 0, 1.00);
}
/* Program, School */

/* School */
#director{
    
    width: 250px;
    height: 350px;
    margin:0 0 0 50px;
}
#director:hover {
    border-color:rgba(128, 0, 0, 0.81);
}
#director-about{
    font-size: 13px;
    text-align: justify;
    text-indent: 20px;
    color: #000;
}
#board{
    text-align: center;

}
/* School */

/* Program */

.head{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size:17px;
    color:rgba(128, 0, 0, 1.00);
}
#program{
    font-size: 11px;
}

#program-menu{
   margin: 0 30%;
}

.btn-default{
    font-family: Comfortaa, serif;
    background-color: rgb(240, 226, 134); 
    border-color:rgba(128, 0, 0, 1.00);
    color:rgba(128, 0, 0, 1.00);
}

.btn-default:hover {
    font-family: Comfortaa, serif;
    background-color:rgba(128, 0, 0, 1.00);
    border-color:rgba(128, 0, 0, 1.00);
    color:rgb(240, 226, 134);
}



#day {
    font-family: Comfortaa;
    background-color: white;
    text-align: center; 
    font-size: 15px;
    color: rgba(128, 0, 0, 1.00);
    border-bottom: 2px solid rgba(128, 0, 0, 1.00);
    border-top: 2px solid rgba(128, 0, 0, 1.00);
}

.program-class-heading{
    text-align: left;
    color:rgba(128, 0, 0, 1.00);
}

.class{
    font-size: 15px;
    text-align: left;
}

/* Program */

/* Profiles */
#profiles-header{
    font-family: Comfortaa;
    background-color:rgb(240, 226, 134); 
    color:rgba(128, 0, 0, 1.00);
    border-bottom: 3px solid rgba(128, 0, 0, 1.00);
    text-align: center;
    font-weight: bold;
    font-size:18px;
    
}
#profiles-body{
border-top: 1px solid rgba(128, 0, 0, 1.00);
}

#bal{
    margin-left:30px
}

#profiles-img { 
   height:280px;
   width: 420px;
}

#profiles-text{
    text-indent: 20px;
    text-align: justify;
}
/* Profiles */

/* History */

#historytext{
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
    font-size: 16px;
}
/* History */

/* Achievements */

.panel-body{
    background-color:white; 
}

.panel-heading{
    background-color:rgba(126, 124, 124, 0.34);
}

/* Achievements */

/* Students */

h4{
    color:rgba(128, 0, 0, 1.00);
}

.note-header{
    margin-top: -15px;
    border-bottom: solid rgba(128, 0, 0, 1.00);

}

#box {
    display: block;
    padding:20px 20px 30px;
    margin:50px 0 0 40px;
    width:330px;
    height:250px;    
    font-family: 'Open Sans', sans-serif;
    border:0;
    border-radius:3px;
    background-color: rgb(240, 226, 134); 
    box-shadow:3px 8px 10px #666;
    overflow:hidden;
}

#box2 {
    display: block;
    padding:25px 25px 40px;
    margin: -250px 420px 0;
    width:330px;
    height:250px;    
    font-family: 'Open Sans', sans-serif;
    border:0;
    border-radius:3px;
    background-color: rgb(240, 226, 134); 
    box-shadow:3px 8px 10px #666;
    overflow:hidden;
}

#box3 {
    display: block;
    padding:25px 25px 40px;
    margin:-250px 800px 0;
    width:330px;
    height:250px;    
    font-family: 'Open Sans', sans-serif;
    border:0;
    border-radius:3px;
    background-color: rgb(240, 226, 134); 
    box-shadow:3px 8px 10px #666;
    overflow:hidden;
}

/* Students */

/* Projects */

#project1 {
    text-align: center;
}

/* Projects */

/* Admin */
h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#admin-btn:hover {
    font-family: Comfortaa, serif;
    background-color: rgba(128, 0, 0, 1.00);
    border-color: rgba(128, 0, 0, 1.00);
    color: rgb(240, 226, 134);
}

.admin-active {
    background-color: rgba(128, 0, 0, 1.00);
    border-color: rgba(128, 0, 0, 1.00);
    color: rgb(240, 226, 134);
}

#admin-heading {
    font-family: Comfortaa, serif;
    background-color: rgb(240, 226, 134);
    color: rgba(128, 0, 0, 1.00);
    border-bottom: 3px solid rgba(128, 0, 0, 1.00);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.form-control:focus {
    border-color: #B0BEC5;
    box-shadow: inset 0 1px 1px rgba(176, 190, 197, 0.37), 0 0 8px rgba(176, 190, 197, 0.33);
}

/* Admin */

